<!doctype html>
<html>
<head>
<meta charset= "utf-8">
<title>相关产品</title>
<link href= "static/css/style.css"  rel="stylesheet" type="text/css" />
</head>
<body>
<div id="main">
	<div class="banner">
		<img src="static/images/ban.jpg">
	</div>
	<div class="menu">
		<ul>
		<li><a href="{% url 'index' %}" >网站首页</a></li>
		<li><a href="{% url 'zhishi' %}"  >相关知识</a></li>
		<li><a href="{% url 'liyong' %}">废物利用</a></li>
		<li class = "xuan"></li><li><a href="{% url 'chanpin' %}">相关产品</a></li>
		<li><a href="{% url 'xinwen' %}" >新闻中心</a></li>
		<li><a href="{% url 'liuyan' %}">在线留言</a></li>
		<li><a href="{% url 'women' %}"  >关于我们</a></li>
		<li><a href="{% url 'upload' %}" >在线识别</a></li>
		</ul>
	</div>	
	<div class="title"><i></i>智圾分APP</div>
	<div class="text">
		<p>
		当前，社会大力倡导垃圾分类，但在实践中却遇到重重困难——人们难以区分垃圾种类、垃圾分类人力成本过高等问题。<br>
		我们团队为解决这些难题，设计一款“基于人工智能视觉识别垃圾分类”的应用——“智圾分APP”，通过APP的人工智能视觉识别技术来自动识别垃圾，将垃圾分流处理，从而简化垃圾分类，推广垃圾分类知识，节省垃圾分类的人力成本，实现有用垃圾的回收利用。<br>
		为进一步促进资源循环，减少垃圾对生态的破环，实现“碳中和”。我们团队在“智圾分APP”内添加了废旧物品交易回收平台—“智能回收”和“智能出售”，促进资源重复使用，减少垃圾对环境的破坏。<br>
		平台有主要两个功能。其一是废旧物品上门回收——“智能回收”服务，经平台鉴定为有价值的物品可进行付费回收，由我们集中回收处理，实现资源实现循环利用，提高资源重复利用率；其二是废旧物品交易服务—“智能选购”服务，经平台回收处理过的有价值的物品，将在“智能选购”上架，为用户提供绿色环保的再生产品。<br>
		我们秉持绿色环保的理念，推动社会绿色低碳循环发展、提高资源利用效率、减少环境污染，助力建设资源节约型、环境友好型社会。<br>
		<br>
		<center><img src="static/images/cpa.png"  width="100%"><br>“智圾分APP”——人工智能视觉识别垃圾分类应用logo</center> 
		<center><img src="static/images/cpb.png" width="100%"><br> “智圾分APP”系统功能图</center> 

		</p>	
	</div>
	<div class="clear"></div>
</div>
<div class="foot">
     <p>世界上本没有垃圾，只有放错位置的财富</p>
</div>
</body>
</html>