<!doctype html>
<html>
<head>
<meta charset= "utf-8">
<title>废物利用</title>
<link href= "static/css/style.css"  rel="stylesheet" type="text/css" />
</head>
<body>
<div id="main">
	<div class="banner">
		<img src="static/images/ban.jpg">
	</div>
	<div class="menu">
		<ul>
		<li><a href="{% url 'index' %}" >网站首页</a></li>
		<li><a href="{% url 'zhishi' %}"  >相关知识</a></li>
		<li class = "xuan"><li><a href="{% url 'liyong' %}">废物利用</a></li>
		<li><a href="{% url 'chanpin' %}">相关产品</a></li>
		<li><a href="{% url 'xinwen' %}" >新闻中心</a></li>
		<li><a href="{% url 'liuyan' %}">在线留言</a></li>
		<li><a href="{% url 'women' %}"  >关于我们</a></li>
		<li><a href="{% url 'upload' %}" >在线识别</a></li>
		</ul>
	</div>	
	<div class="title"><i></i>相关知识</div>
	<div class="text">
		<p>
		废物利用是指收集本来要废弃的材料，分解再制成新产品，或者是收集用过的产品，清洁、处理之后再出售。回收再利用的支持者认为这么做可以减少垃圾的制造以及原料的消耗。一般回收的材料包括玻璃、纸、铝、柏油、钢铁、打印机、碳粉匣、墨水匣。这些材料的来源可以分为事业废弃物与一般废弃物。 为了实现废物资源化，许多国家采取了一系列鼓励利用废物的政策和措施，如建立专业化的废物交换和回收机构，从事废物的直接有效应用。
		<br>
		发展清洁生产的战略思想，对废物的利用或资源化是一个重大进步，它拓宽了环境保护的视野，促进了变尾端治理为生产全过程各环节的全方位管理。不过这是对新的工艺设计而言，而对地球上已积累的废物，其利用和资源化仍很艰巨，但即使这样，也仍须用清洁生产的思想作指导，以免产生二次污染和新的环境问题。
		</p>	
	</div>
	<div class="title"><i></i>应用</div>
	<div class="text">
		<p>
		以旧衣服的二次利用或者手工改造为例，经过难度不高的一般DIY，普通人也可以把自己衣橱和衣箱里早该被淘汰或者废弃的旧衣服、旧衣物等制作成各种的诸如：地毯、童装、杯垫、公仔、收纳盒等日常生活用品，在环保之余满足日常需要，是变废为宝的一种好办法。
		<br>
		除去旧衣服这种常见的生活废品，我们每日用到的一次性餐具、看过的旧书杂志、写完的铅笔圆珠笔、喝完饮料以后剩下的塑料瓶罐等等，也是国内外手工爱好者日渐喜欢用于手工制作的新潮材料。这些生活废品得到的二次利用，不但更加贴近居民的日常生活，而且也更加能调动整个社会的力量参与到保护环境、变废为宝的潮流之中。
		</p>	
	</div>
	<div class="clear"></div>
</div>
<div class="foot">
     <p>世界上本没有垃圾，只有放错位置的财富</p>
</div>
</body>
</html>