<!doctype html>
<html>
<head>
<meta charset= "utf-8">
<title>参与垃圾分类 树立环保意识</title>
<link href= "static/css/style.css"  rel="stylesheet" type="text/css" />
</head>
<body>
<div id="main">
	<div class="banner">
		<img src="static/images/ban.jpg">
	</div>
	<div class="menu">
		<ul>
		<li><a href="{% url 'index' %}" >网站首页</a></li>
		<li><a href="{% url 'zhishi' %}"  >相关知识</a></li>
		<li><a href="{% url 'liyong' %}">废物利用</a></li>
		<li><a href="{% url 'chanpin' %}">相关产品</a></li>
		<li class = "xuan"></li><li><a href="{% url 'xinwen' %}" >新闻中心</a></li>
		<li><a href="{% url 'liuyan' %}">在线留言</a></li>
		<li><a href="{% url 'women' %}"  >关于我们</a></li>
		<li><a href="{% url 'upload' %}" >在线识别</a></li>
		</ul>
	</div>	
	<div class="title"><i></i>参与垃圾分类 树立环保意识</div>
	<div class="left">
		<img src="static/images/newsc.png" width="500px">
	</div>
	<div class="right">
		<p>
		本报讯 6月18日，由贵阳市生活垃圾分类领导小组办公室、市综合行政执法局等部门承办的垃圾分类宣传活动在黔灵山公园正大门广场举行。
		<br>
		据悉，此次活动主题为“绿色发展高质量 生态文明出新绩”，旨在加大生活垃圾分类知识普及力度，逐步树立垃圾分类环保意识，引导居民自觉、科学地参与生活垃圾分类，形成生活垃圾分类良好习惯。
		<br>
		活动现场围绕垃圾分类知识开展了宣传咨询、趣味竞答等活动，营造全民共同参与城市环境保护的氛围。特别是在趣味竞答环节，市民首先要将骰子丢进飞行棋盘里，然后根据工作人员的提问进行回答，答对者可获得环保袋、小风扇、驱蚊水等小礼品。
		<br>
		当天，各区（市、县）综合行政执法局、相关街道办事处也开展了垃圾分类宣传活动，包括发放《生活垃圾分类管理办法》手册、垃圾分类市民读本和少儿读本等。		
		</p>	
	</div>
</div>
</body>
</html>