<!doctype html>
<html>
<head>
<meta charset= "utf-8">
<title>多措并举助力垃圾分类让垃圾分类理念深入人心</title>
<link href= "static/css/style.css"  rel="stylesheet" type="text/css" />
</head>
<body>
<div id="main">
	<div class="banner">
		<img src="static/images/ban.jpg">
	</div>
	<div class="menu">
		<ul>
		<li><a href="{% url 'index' %}" >网站首页</a></li>
		<li><a href="{% url 'zhishi' %}"  >相关知识</a></li>
		<li><a href="{% url 'liyong' %}">废物利用</a></li>
		<li><a href="{% url 'chanpin' %}">相关产品</a></li>
		<li class = "xuan"></li><li><a href="{% url 'xinwen' %}" >新闻中心</a></li>
		<li><a href="{% url 'liuyan' %}">在线留言</a></li>
		<li><a href="{% url 'women' %}"  >关于我们</a></li>
		<li><a href="{% url 'upload' %}" >在线识别</a></li>
		</ul>
	</div>	
	<div class="title"><i></i>多措并举助力垃圾分类让垃圾分类理念深入人心</div>
	<div class="left">
		<img src="static/images/newsd.png" width="500px">
	</div>
	<div class="right">
		<p>
		大街上，“垃圾分类，从我做起”等宣传标语被张贴在明显位置；小区里，不同颜色的垃圾桶提醒着大家从源头做好垃圾分类；政务大厅、百货商场，LED屏上滚动播放垃圾分类的宣传片……走在阳曲县街头巷尾，随时随地都能看到、听到生活垃圾分类的宣传，广大居民的习惯正在悄然发生变化。不仅如此，阳曲县还担负着半个太原的垃圾焚烧任务，实现了剩余垃圾无害化、资源化、减量化处理。
		<br>
		阳曲县首邑北路的御景豪苑小区，是该县首批垃圾分类试点小区之一。记者在这里看到，生活垃圾分类投放点内，分类垃圾桶按照黑、绿、蓝、红不同颜色依次排列，可投放的垃圾类别标识明确。垃圾桶背后的展板上，详细、全面地介绍了各种常见生活垃圾的分类方式，一目了然；紫阳湾小区规模稍大，是阳曲县第一个试点生活垃圾分类的小区。小区里，1号楼与2号楼之间、3号楼与4号楼之间分别设有两个有流线形顶棚的垃圾分类收集亭。
		<br>
		据阳曲县公用事业中心副主任李江林讲，去年8月以来，专业环卫公司联合所属社区及物业公司采取了多方面的宣传和引导措施，目前小区居民对垃圾分类的知晓率达100%，参与率达90%，投放准确率达到了85%。
		<br>
		前端分类落到了实处，后端处理是否跟得上呢？位于综改区阳曲产业园区的太原环晋再生能源有限公司，是我市仅有的两家垃圾焚烧发电厂之一。经过前期分类投放、分拣回收之后，没有利用价值的剩余垃圾就会被运输到这里进行焚烧发电。
		<br>
		记者了解到，去年8月份，这个项目正式投运，与清徐垃圾焚烧发电厂一起，结束了太原建成区生活垃圾填埋地下的历史，实现了生活垃圾的无害化、资源化和减量化处理。公司建设副总监任鸿儒介绍说，首先是无害化，臭气不会对外扩散，臭水不会渗漏地下；然后是资源化，堆放、填埋不仅不赚钱还得花不少钱，现在焚烧发电是一笔可量化的收入；最后是减量化，焚烧后就只有3%的飞灰需要填埋，无论重量、用地都大大减少了。				
		</p>	
	</div>
</div>
</body>
</html>