<!doctype html>
<html>
<head>
<meta charset= "utf-8">
<title>【垃圾分类，从我做起】社区生态建设共出一份力</title>
<link href= "static/css/style.css"  rel="stylesheet" type="text/css" />
</head>
<body>
<div id="main">
	<div class="banner">
		<img src="static/images/ban.jpg">
	</div>
	<div class="menu">
		<ul>
		<li><a href="{% url 'index' %}" >网站首页</a></li>
		<li><a href="{% url 'zhishi' %}"  >相关知识</a></li>
		<li><a href="{% url 'liyong' %}">废物利用</a></li>
		<li><a href="{% url 'chanpin' %}">相关产品</a></li>
		<li class = "xuan"></li><li><a href="{% url 'xinwen' %}" >新闻中心</a></li>
		<li><a href="{% url 'liuyan' %}">在线留言</a></li>
		<li><a href="{% url 'women' %}"  >关于我们</a></li>
		<li><a href="{% url 'upload' %}" >在线识别</a></li>
		</ul>
	</div>	
	<div class="title"><i></i>【垃圾分类，从我做起】社区生态建设共出一份力</div>
	<div class="left">
		<img src="static/images/newsb.png" width="500px">
	</div>
	<div class="right">
		<p>
		活动开始，老师先让大家说说自己知道的绿色、环保、低碳、文明的生活方式有哪些?
		<br>
		大家纷纷举手回答，有人回答垃圾分类，有人回答制作环保酵素，还有人说树叶堆肥，问题一抛出，大家的积极性被充分调动起来。
		<br>
		接下来就进入今天的主题了，老师首先给大家讲解生活垃圾“四分法”的相关知识与重要性，随后通过“模拟垃圾投放”互动游戏环节检验大家对生活垃圾四分法的掌握程度，大家踊跃尝试，乐在其中。
		<br>
		居民们在娱乐欢快中学习到环保的重要性，加深了对垃圾分类、环保资源再利用等知识的理解，也更清晰的了解垃圾分类的意义和标准。院落志愿者们纷纷表示将会带头进行垃圾分类，积极投身参与到垃圾分类的行动中。
		</p>	
	</div>
</div>
</body>
</html>