<!doctype html>
<html>
<head>
<meta charset= "utf-8">
<title>垃圾分类让绿色环保理念深入人心</title>
<link href= "static/css/style.css"  rel="stylesheet" type="text/css" />
</head>
<body>
<div id="main">
	<div class="banner">
		<img src="static/images/ban.jpg">
	</div>
	<div class="menu">
		<ul>
		<li><a href="{% url 'index' %}" >网站首页</a></li>
		<li><a href="{% url 'zhishi' %}"  >相关知识</a></li>
		<li><a href="{% url 'liyong' %}">废物利用</a></li>
		<li><a href="{% url 'chanpin' %}">相关产品</a></li>
		<li class = "xuan"></li><li><a href="{% url 'xinwen' %}" >新闻中心</a></li>
		<li><a href="{% url 'liuyan' %}">在线留言</a></li>
		<li><a href="{% url 'women' %}"  >关于我们</a></li>
		<li><a href="{% url 'upload' %}" >在线识别</a></li>
		</ul>
	</div>	
	<div class="title"><i></i>垃圾分类让绿色环保理念深入人心</div>
	<div class="left">
		<img src="static/images/newsa.png" width="500px">
	</div>
	<div class="right">
		<p>
		昨日一大早，家住市区解放大道西段瑞达小区的王女士拎着家中积攒的废品到楼下学习使用垃圾分类智能回收机，几位带孩子的住户也前往观摩。“通过垃圾分类积分兑换生活用品，操作起来很方便。”服务人员在一旁向大家解释。 
		<br>
		记者注意到，智能分类垃圾箱与以往普通的塑料垃圾筒不同，由智能回收箱和礼品兑换机两部分组成（如图）。礼品存放区有洗衣粉、牙膏、香皂等小礼品，居民可拿积分兑换。智能回收箱则设置了厨余垃圾、可回收垃圾、有害垃圾和其他垃圾投放口。 
		<br>
		在回收机前，一位小区住户熟练刷卡摁钮，纸张投放口自动打开，对方将打包好的报纸投进回收机，通过计重结算，积分自动装入积分卡。该住户拿着积分卡兑换了香皂。 
		<br>
		工作人员介绍，只要免费办张卡，用卡轻轻一刷一摁，就可以投放计重，智能设备可将垃圾分类行为转化积分兑换生活用品。垃圾分类智能回收设备后台还能实时监控每个垃圾箱的摆放位置、垃圾投放量等。垃圾箱装满后，工作人员会及时安排车辆清运、回收。 
		<br>
		“智能分类垃圾箱分类明确，投放垃圾获得的相应积分，可以兑换生活用品，很受大家欢迎。”该小区的一位居民说。 
		<br>
		“现在，垃圾分类成为新时尚。为将垃圾分类工作做得扎实、有效，我们采取了一系列措施，加大宣传力度，增加居民对垃圾分类相关知识的了解，让更多的居民积极参与垃圾分类实践，倡导关爱自然、节约资源、爱护环境的文明新风。”社区相关负责人说。 （文/图 全媒体记者高琳琳）
		</p>	
	</div>
</div>
</body>
</html>