<!doctype html>
<html>
<head>
<meta charset= "utf-8">
<title>相关知识</title>
<link href= "static/css/style.css"  rel="stylesheet" type="text/css" />
</head>
<body>
<div id="main">
	<div class="banner">
		<img src="static/images/ban.jpg">
	</div>
	<div class="menu">
		<ul>
		<li><a href="{% url 'index' %}" >网站首页</a></li>
		<li><a href="{% url 'zhishi' %}"  >相关知识</a></li>
		<li><a href="{% url 'liyong' %}">废物利用</a></li>
		<li><a href="{% url 'chanpin' %}">相关产品</a></li>
		<li><a href="{% url 'xinwen' %}" >新闻中心</a></li>
		<li><a href="{% url 'liuyan' %}">在线留言</a></li>
		<li><a href="{% url 'women' %}"  >关于我们</a></li>
		<li><a href="{% url 'upload' %}" >在线识别</a></li>
		</ul>
	</div>	
	<div class="title"><i></i>相关知识</div>
	<div class="text">
		<p>
		垃圾分类的目的是提高垃圾的资源价值和经济价值，力争物尽其用，减少垃圾处理量和处理设备的使用，降低处理成本，减少土地资源的消耗，具有社会、经济、生态等几方面的效益。
		<br>
		垃圾在分类储存阶段属于公众的私有品，垃圾经公众分类投放后成为公众所在小区或社区的区域性公共资源，垃圾分类搬运到垃圾集中点或转运站后成为没有排除性的公共资源。从国内外各城市对生活垃圾分类的方法来看，大多都是根据垃圾的成分、产生量，结合本地垃圾的资源利用和处理方式等来进行分类的。
		<br>
		垃圾分类是垃圾终端处理设施运转的基础，实施生活垃圾分类，可以有效改善城乡环境，促进资源回收利用。应在生活垃圾科学合理分类的基础上，对应开展生活垃圾分类配套体系建设，根据分类品种建立与垃圾分类相配套的收运体系、建立与再生资源利用相协调的回收体系，完善与垃圾分类相衔接的终端处理设施，以确保分类收运、回收、利用和处理设施相互衔接。只有做好垃圾分类，垃圾回收及处理等配套系统才能更高效地运转。垃圾分类处理关系到资源节约型、环境友好型社会的建设，有利于我国新型城镇化质量和生态文明建设水平的进一步提高。
		</p>	
	</div>
	<div class="title"><i></i>垃圾种类</div>
	<div class="lista">
		<ul >
		 <li><img src="static/images/flad.jpg" /></li>
		 <li><img src="static/images/flbd.jpg" /></li>
		 <li><img src="static/images/flcd.jpg" /></li>
		 <li style="margin-right:0px;"><img src="static/images/fldd.jpg" /></li>
		 </ul>
	</div>
	<div class="clear"></div>
</div>
<div class="foot">
     <p>世界上本没有垃圾，只有放错位置的财富</p>
</div>
</body>
</html>